/* CSS Reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

/* --------------------- UTILITY CLASSES ----------------- */
.bg-green{
    background-color: rgb(13, 223, 142);
}
.bg-blue{
    background-color: rgb(16, 114, 205);
}


/* ---------------------- CONTAINER CLASS ----------------- */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* ------------------------- HEADER IMAGE -------------------- */
.header{
    height: 70vh;
    border: 2px solid red;
    background-image: url("./philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
